/* @import 'tailwindcss/base'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .banner__more {
    border: 1px solid #a6a6a6;
    backdrop-filter: blur(30px);
    top: 37.625rem;
    right: 4.375rem;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    color: #898989;
  }

  .swiper-pagination {
    bottom: 10.8rem !important;
    left: 6rem !important;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: white;
  }

  .bannerInfo__text {
    top: 37.5rem;
    left: 4.375rem;
    @apply absolute z-10 mb-[20px] flex shrink-0 -text--paragraph-xl -text--white;
  }

  .header {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .a11yhidden {
    @apply absolute -m-1 h-1 w-1 overflow-hidden whitespace-nowrap border-0 p-0;
  }

  .swiper-slide-contents {
    @apply h-[855px] w-[1920px];
  }

  /* only */

  .btnPause {
    @apply bottom-[10.7055rem] left-[4.375rem];
  }
  .swiperOnlyBtn {
    @apply h-full w-full;
  }
  .swiper-slide {
    @apply flex items-center justify-center text-center text-lg;
    background: #000;
  }
}
